<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div><h1>주문 등록</h1></div>
<form action="/order/add" method="post">
  <div>
    <label for="member">주문회원</label>
    <input type="text" id="member" name="name" th:value="${member.name}" readonly></input>
    <input type="text" name="id" th:value="${member.id}" hidden></input>
  </div>
  <!--    <div>-->
  <!--        <label for="price">금액</label>-->
  <!--        <input type="text" id="price" name="price" placeholder="상품의 판매금액을 입력해주세요"></input>-->
  <!--    </div>-->
  <!--    <div>-->
  <!--        <label for="quantity">수량</label>-->
  <!--        <input type="text" id="quantity" name="quantity" placeholder="상품의 수량을 입력해주세요"></input>-->
  <!--    </div>-->
  <div>
    <button type="submit">주문등록</button>
    <!--        <button type="button" th:onclick="|location.href='@{/order/cancel}'|">취소</button>-->
  </div>
</form>
</body>
</html>