<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>상품 목록</h1>

<table>
  <tr>
    <th>ID</th>
    <th>상품명</th>
    <th>가격</th>
    <th>수량</th>
  </tr>

  <tr th:onclick="|location.href='@{/basic/item/{id}(id=${item.id})}'|" th:each="item : ${items}">
    <td th:text="${item.id}">1</td>
    <td th:text="${item.name}">상품1</td>
    <td th:text="${item.price}">20000</td>
    <td th:text="${item.qty}">100</td>
  </tr>
  </tr>
</table>
</body>
</html>